@import url("../../css/main.css");

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
  background-color: var(--ios-bg-black);
  z-index: 1000;
}

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

i {
  animation-iteration-count: 1 !important;
  animation-delay: 500ms !important;
  -webkit-animation-iteration-count: 1 !important;
  -webkit-animation-delay: 500ms !important;
}

.table td,
.table th {
  background-color: transparent !important;
  color: var(--ios-text);
  font-size: var(--font-sm3);
  padding: 8px 6px;
}

.cont-card {
  margin: 0px 8px 20px 8px;
}

.cont-card-title {
  display: flex;
  justify-content: space-between;
  /* font-size: var(--font-lg1); */
  font-weight: 300;
  color: var(--ios-text1);
  padding: 8px 16px;
}

.cont-card-info {
  color: var(--ios-text2)
}

.cont-card-body {
  padding: 6px 2px;
  background-color: var(--ios-bg);
  border-radius: 12px;
}

.table thead th {
  color: var(--ios-text2);
  font-size: var(--font-sm5);
  font-weight: 500;
  border: none;
  text-align: center;
}

.table tbody tr {
  /* border-top: 1px dotted var(--ios-bg2); */
  border-top: 1px solid var(--ios-bg2);
  border-bottom: none;
  border-left: 3px solid transparent;
  border-right: none;
}

.table.shrunken {
  max-height: 35dvh !important;
  overflow-y: scroll;
  display: inline-block;
}

.active-row {
  border-left: 3px solid var(--bs-primary) !important;
}