<nav id="navCont" class="navbar">
  <div class="container-fluid">
    <div class="navbar-nav d-flex flex-row w-100 nav-underline justify-content-evenly">
      <a id="nav-standings" class="nav-link fw-medium fs-6 pt-0 pb-2 flex-fill text-center" href="index.html">STANDINGS</a>
      <a id="nav-schedule" class="nav-link fw-medium fs-6 pt-0 pb-2 flex-fill text-center" href="schedule.html">SCHEDULE</a>
    </div>
  </div>
</nav>

<script>
  let origin = window.location.origin;
  let path = window.location.pathname;
  path = path.substring(path.lastIndexOf('/') + 1);
  if (path == '') {
    path = 'index.html';
  }

  $('.navbar-nav a').each(function () {
    let href = $(this).attr('href');
    if (path == href) {
      $(this).addClass('active');
    } else {
      $(this).removeClass('active');
    }
  });
</script>