<template id="row-template">
  <tr>
    <td data-item="rank" class="text-end text-primary-emphasis text-sm5 fw-medium pe-0"></td>
    <td data-item="player-cont" class="fw-medium text-start pe-4">
      <div class="d-flex flex-row align-items-center py-0">
        <span data-item="player" class="pe-2"></span>
        <i data-item="change-up-icon" class="d-none fa-regular fa-circle-up fa-sm text-success-emphasis fa-bounce"></i>
        <i data-item="change-down-icon" class="d-none fa-regular fa-circle-down fa-sm text-danger-emphasis fa-bounce"></i>
        <span data-item="change" class="d-none text-sm5 ps-1"></span>
      </div>
    </td>
    <td data-item="rec_week" class=""></td>
    <td data-item="rec" class=""></td>
    <td data-item="gb" class="text-dim1"></td>
    <td data-item="pc_dog_pick" class="text-dim1"></td>
    <td data-item="pc_dog_win" class="text-dim1"></td>
  </tr>
</template>