body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
  background-color: var(--ios-bg);
  z-index: 1000;
}

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.modal-header {
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: 12px !important;
}

.modal-footer {
  padding-bottom: env(safe-area-inset-bottom) !important;
  padding-top: 8px !important;
  margin: 0 !important;
  border-top: none !important;
}

#modalMessage {
  margin: 0 !important;
}

.modal-body {
  padding: 0 !important;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

#modalFormBody {
  padding: 0 !important;
}

#modalFormGames {
  padding: 8px 0px !important;
}

#modalFormGames .gamerow {
  margin: 4px 4px !important;
  padding: 8px 0px !important;
}

#filterCont button.active {
  color: var(--ios-text) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}

.pickcont {
  background-color: rgb(15, 15, 15) !important;
}

.form-select {
  border-color: var(--ios-separator) !important;
}

#modalFormMeta {
  box-shadow: 0 10px 5px -5px rgb(15, 15, 15);
  border-bottom: 1px solid rgb(15, 15, 15);
}

.modfooter-sticky {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

#tblDetails {
  position: sticky;
  top: env(safe-area-inset-top);
  z-index: 1000;
  box-shadow: 0 20px 10px -10px var(--ios-bg);
}

/* make disabled */
button.no-submit {
  pointer-events: none;
  opacity: .5;
}