<body>
  <nav id="navCont" class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <div class="d-flex align-items-center mx-0 px-0">
          <i class="fa-solid fa-football fa-sm d-inline-block align-text-top"></i>
          <span class="ps-2">PICK 'EM</span>
        </div>
      </a>
      <div class="navbar-nav d-flex flex-row nav-underline">
        <a id="nav-standings" class="nav-link fw-medium" href="index.html">Standings</a>
        <a id="nav-schedule" class="nav-link fw-medium" href="schedule.html">Schedule</a>
      </div>
    </div>
  </nav>
</body>