/* Define colors */
:root {
  --bg-main: #1e1e1e;
  --bg-dim: #181818;
  --text-main: #efefef;
  --text-dim: #9b9b9b;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

td {
  font-size: 11pt !important;
  color: var(--text-main) !important;
  background-color: var(--bg-main) !important;
}

.text-dim {
  color: var(--text-dim) !important;
}

.text-main {
  color: var(--text-main) !important;
}

.text-smaller {
  font-size: .75rem !important;
}

.bg-dim {
  background-color: var(--bg-dim) !important;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.border-dim {
  border-color: var(--bg-dim) !important;
}